POSTGRES_DB=mangadvisor
POSTGRES_USER=manga
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432

MEILI_MASTER_KEY=changeme
MEILI_PORT=7700

API_PORT=8000
UI_PORT=8501

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

ENABLE_TRANSLATION=false
ENABLE_OLLAMA=false
OLLAMA_PORT=11434